<h1><%= @restaurant.name %></h1>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>
<p><%= @restaurant.category.capitalize %></p>
<ul>
  <% @restaurant.reviews.each do |r| %>
  <li>
    <%= r.content %>
    <%= r.rating %>
  </li>
  <% end %>
</ul>
<%= link_to "Add a review", new_restaurant_review_path(@restaurant) %><br>
<%= link_to "Edit", edit_restaurant_path(@restaurant) %><br>
<%= link_to "Back to the list", restaurants_path %><br>
